version: "3.8"

services:

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: db_postgreSQL
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"

  api:
    build: .
    container_name: pagamento-api
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      MERCADOPAGO_ACCESS_TOKEN: teste123
      MERCADOPAGO_WEBHOOK_SECRET: teste456